* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #1e1e1e;
}

h1 {
    color: #fff;
    font-size: 5vw;
    font-weight: 500;
    user-select: none;
    text-transform: capitalize;
}

p {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    user-select: none;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.trail-container {
    background-color: #fcfcfc;
}

.trail-img {
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    transform-origin: center;
    pointer-events: none;
    will-change: transform;
}
